.container {
    display: flex;
    padding: 100px 25% 0;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    flex: 1;
}
  
.title {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
}

.closeButton {
    cursor: pointer;
}

.form {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 80px;
}

.formInput {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-bottom: 52px;
}

.form label {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 9px;
}

.form input[type='text'] {
    height: 40px;
}

.form input[type='textarea'] {
    height: 107px;
}

.submitButton {
    display: flex;
    flex-direction: row;
    max-width: 85px;
    justify-content: center;
    align-items: center;
    background: #199C7D;
    border-radius: 6px;
    cursor: pointer;
}

.submitButton span {
    font-family: 'SF Pro Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 14px 22px;
}